* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility classes */
html, body {
  font-family: 'Red Hat Display', sans-serif;
  background: #d6e1ff;
}

#container {
  background: #fff;
  margin: 150px auto;
  max-width: 365px;
  height: 540px;
  border-radius: 20px;
}

button {
  display: block;
  width: 275px;
  height: 35px;
  margin: 0px auto;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* order summary and text */
.order-wrap p {
  text-align: center;
  font-weight: 500px;
  font-size: 13px;
  margin: 10px 40px 20px;
  line-height: 1.5em;
  color: #727999;
}

.order-wrap h2 {
  text-align: center;
  margin: 30px 0px 10px 0; 
  font-weight: 900;
}

.order-img img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

/* annual plan */
.plan-wrap {
  display: block;
  background: #f8f9fe;
  width: 275px;
  height: 75px;
  margin: 0px auto;
  border-radius: 10px;
  padding: 10px;
}

.icon {
  display: block;
  float: left;
  margin: 7px;
}

.icon img {
  height: 40px;
}

.plan-text {
  display: block;
  float: left;
  margin: 7px 0px 0px 8px;
  font-size: 13px;
  line-height: 1.6em;
}

.plan-text p {
  color: ≈

}

.change {
  display: block;
  float: right;
  margin: 22px 10px 0px 0px;
  font-size: 11px;
}

.change a {
  text-decoration: none;
  cursor: pointer;
}

.change a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #493faa
}

.clr {
  clear: both;
}

/* proceed to payment */
.payment-btn {
  margin: 20px 0px 10px 0px;
  
}

.payment-btn button {
  background-color: #382AE1;
  color: #fff;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  font-size: 12px;
}

.payment-btn button:hover {
  background-color: #493FAA;
  color: #fff;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  font-size: 12px;
  box-shadow: -11px 5px 16px 3px rgba(0,0,0,0.11);
  -webkit-box-shadow: -11px 5px 16px 3px rgba(0,0,0,0.11);
  -moz-box-shadow: -11px 5px 16px 3px rgba(0,0,0,0.11);
}

/* cancel order */
.cancel-btn {
  margin: 10px 0px 30px 0px;
}

.cancel-btn button {
  background-color: #fff;
  color: #333;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
}

.cancel-btn button:hover {
  color: #444;
}